div#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--black);
  z-index: 99;
  transition: 0.8s ease-in-out;
}

.close-loading {
  transform: translateY(-120vh);
}

#main {
  transition: 0.8s ease-in-out;
}

/* http://meyerweb.com/eric/tools/css/reset/ v2.0-modified | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, button, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

:root {
  --swiper-theme-color: #dfdfdf !important;
  --whiteF: #ffffff;
  --white: #e0e0e0;
  --blackL: #1f1f1f;
  --black: #161616;
  --blackOp: #0e0e0eb4;
  --gray: #161616;
  --pinkL: #ef58a3;
  --pink: #de217e;
  transition: 0.3s;
}

@font-face {
  font-family: "coffee";
  src: url("../fonts/Louis George Cafe.woff");
  font-display: swap;
}
@font-face {
  font-family: "coffee-light";
  src: url("../fonts/Louis George Cafe Light.woff");
  font-display: swap;
}
@font-face {
  font-family: "coffee-bold";
  src: url("../fonts/Louis George Cafe Bold.woff");
  font-display: swap;
}
h1, h2 {
  font-family: "coffee-bold";
  letter-spacing: 1px;
  margin-bottom: 0.6rem;
}

h3, h4, h5, h6 {
  font-family: "coffee";
  letter-spacing: 1px;
  margin-bottom: 0.6rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

li {
  font-family: "coffee";
  letter-spacing: 1px;
}

p {
  font-size: 1.3rem;
}

@media (max-width: 900px) {
  h1 {
    font-size: 3.1rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2.1rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  h5 {
    font-size: 1.1rem;
  }
  h6 {
    font-size: 1rem;
  }
  p {
    font-size: 1.1rem;
  }
}
body::-webkit-scrollbar {
  width: 0px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--black); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, var(--pink), var(--purple)); /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "coffee-light";
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: var(--black);
  overflow-y: scroll;
  overflow-x: hidden;
}

button {
  font-family: "coffe", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.pink {
  color: var(--pink);
}

.div-line {
  width: 100%;
  height: 1px;
  background-color: var(--pink);
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}
.center svg {
  margin-top: 1.2rem;
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: var(--pink);
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  transition: 0.7s ease-in-out;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11.2rem;
  height: 3.8rem;
  cursor: pointer;
  background: var(--pink);
  outline: none;
  border: none;
  transition: 1s ease-in-out;
  color: var(--whiteF);
  font-family: "coffee-light";
  font-size: 1.1rem;
}

.btn:hover {
  transition: 0.5s ease-in-out;
  background: transparent;
}

.btn:hover svg {
  stroke-dashoffset: -180;
}

.btn:disabled {
  cursor: not-allowed;
  background-color: transparent;
}

.buttons-about {
  position: relative;
  margin-top: 1.2rem;
}

.group-btn {
  width: 188px;
  height: 60px;
  position: absolute;
}
.group-btn svg {
  margin-top: 0rem;
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: var(--pink);
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  transition: 0.7s ease-in-out;
}

.con-buttons-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.6rem;
}

.buttons-form {
  position: relative;
  margin-top: 4rem;
  margin-top: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.form-btn {
  width: 180px;
  height: 60px;
  position: absolute;
}
.form-btn svg {
  margin-top: 0rem;
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: var(--pink);
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  transition: 0.7s ease-in-out;
}

.con-buttons-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.6rem;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 22rem;
  width: 100%;
  height: 100vh;
  background-color: var(--black);
}

.about-languages-desktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 1rem;
  background-color: var(--pink);
  padding: 1rem 0;
  width: 100%;
}
.about-languages-desktop span {
  color: var(--white);
  font-size: 1.4rem;
}

.about-languages-mobile {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  gap: 1.4rem;
  background-color: var(--pink);
  padding: 1rem 0;
  width: 100%;
}
.about-languages-mobile span {
  color: var(--white);
  font-size: 1.4rem;
}

.about-languages-mobile::-webkit-scrollbar {
  display: none; /* Esconde a barra de rolagem */
}

.about-languages-mobile span:nth-child(1) {
  margin-left: 0.6rem;
}

.about-languages-mobile span:nth-child(16) {
  margin-right: 0.6rem;
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.about-info {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  flex-direction: column;
}
.about-info p {
  color: var(--whiteF);
  max-width: 36rem;
  line-height: 150%;
  text-align: left;
}

.about-citation {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  flex-direction: column;
}
.about-citation p {
  color: var(--white);
  line-height: 42px;
  font-size: 2rem;
}
.about-citation h3 {
  font-family: "coffee";
}
.about-citation em {
  color: var(--whiteF);
  font-size: 2rem !important;
}

@media screen and (max-width: 970px) {
  .about {
    gap: 10rem;
  }
  .about-container {
    flex-direction: column;
    gap: 4rem;
  }
  .about-info {
    width: 88%;
  }
  .about-citation {
    width: 88%;
  }
  .about-languages-mobile {
    display: flex;
  }
  .about-languages-desktop {
    display: none;
  }
}
.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  padding-bottom: 10rem;
}
.work h4 {
  color: var(--whiteF);
  text-align: center;
}
.work p {
  color: var(--whiteF);
  text-align: center;
}

.work-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  margin-right: 2.4rem;
}

.con-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.work-demo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  transition: transform 0.6s;
  padding: 1rem;
  border-top: 1px inset var(--pink);
  border-right: 1px inset var(--pink);
  min-width: 44rem;
}

.work-demo:hover {
  animation-name: work-border;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  transform: scale(1.02);
}

.work-img {
  max-width: 20rem;
  max-height: 34rem;
  width: 20rem;
  height: 34rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.6s ease-in-out;
  margin-right: auto;
}

#anyplo {
  background-image: url("../../img/anyplo-bg-2.webp");
}

#anyplo:hover {
  background-image: url("../../img/anyplo-bg.webp");
}

#eris {
  background-image: url("../../img/eris-bg.webp");
}

#eris:hover {
  background-image: url("../../img/eris-bg-2.webp");
}

#simple-cat {
  background-image: url("../../img/simple-cat-bg.webp");
}

#simple-cat:hover {
  background-image: url("../../img/simple-cat-bg-2.webp");
}

#amanidev {
  background-image: url("../../img/amanidev-bg-2.webp");
}

#amanidev-blog {
  background-image: url("../../img/amanidev.blog-bg-2.webp");
}

.progress {
  padding: 0.4rem 0.6rem;
  border-bottom: 1px inset var(--pink);
  border-left: 1px inset var(--pink);
  margin-top: 0.4rem;
}

.work-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  min-width: 24rem;
  padding-right: 0.6rem;
}
.work-info p {
  margin-bottom: 1rem;
  max-width: 20rem;
  text-align: left;
  line-height: 1.6rem;
}
.work-info h1 {
  transition: 0.6s;
  margin-bottom: 4rem;
  color: var(--white);
  max-width: 25rem;
}

.nav-link {
  color: var(--white);
  font-size: 1.4rem;
  margin-bottom: 4rem;
  transition: 0.6s;
  letter-spacing: 0.05em;
  position: relative;
}

.nav-link:hover {
  color: var(--pink);
}

.nav-link::after {
  content: "";
  position: absolute;
  background-color: var(--pink);
  height: 1px;
  width: 50%;
  left: 0;
  bottom: -6px;
  transition: 0.6s;
}

.nav-link:hover::after {
  width: 90%;
}

@keyframes work-border {
  from {
    border-top: 1px inset var(--pink);
    border-right: 1px inset var(--pink);
    border-left: 0px;
    border-bottom: 0px;
  }
  to {
    border-top: 0px;
    border-right: 0px;
    border-left: 1px inset var(--pink);
    border-bottom: 1px inset var(--pink);
  }
}
@keyframes work-progress {
  from {
    border-top: 0px inset var(--pink);
    border-right: 0px inset var(--pink);
    border-left: 1px inset var(--pink);
    border-bottom: 1px inset var(--pink);
  }
  to {
    border-top: 1px inset var(--pink);
    border-right: 1px inset var(--pink);
    border-left: 0px inset var(--pink);
    border-bottom: 0px inset var(--pink);
  }
}
@media screen and (max-width: 900px) {
  .work-title {
    width: 86%;
    text-align: center;
    margin-right: 0;
  }
  .work-demo {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    min-width: 20rem;
    width: 80%;
  }
  .work-img {
    width: 20rem;
    height: 22rem;
  }
  .work-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    min-width: 0rem;
    padding-right: 0rem;
  }
  .work-info h1 {
    max-width: 20rem;
  }
}
@media screen and (max-width: 400px) {
  .work {
    margin-top: 8rem;
  }
}
.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  gap: 8rem;
  width: 100%;
  background-color: var(--black);
}
.help h2 {
  color: var(--pink);
}

.help-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
}

.help-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}
.help-item p {
  color: var(--white);
  font-size: 1.4rem;
  max-width: 28rem;
}

.help-item-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.6rem;
}
.help-item-header h3 {
  color: var(--pink);
  text-align: left;
}
.help-item-header span {
  font-size: 1.4rem;
  color: var(--pink);
}

@media screen and (max-width: 970px) {
  .help {
    min-height: 70vh;
    gap: 4rem;
  }
  .help h2 {
    text-align: center;
    color: var(--pink);
  }
  .help-container {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
  }
  .help-item {
    gap: 2rem;
  }
  .help-item p {
    color: var(--white);
    font-size: 1.4rem;
    max-width: 20rem;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--black);
}
.contact p {
  max-width: 30rem;
  text-align: center;
  color: var(--white);
  margin-top: 0.6rem;
  line-height: 2rem;
}
.contact h5 {
  color: var(--white);
  margin-top: 4rem;
  border-bottom: 1px inset var(--pink);
  padding-bottom: 0.6rem;
}

.con-form {
  width: 46rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.con-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.single-input {
  width: 100%;
  max-width: 20rem;
  margin: 1.2rem 0;
  position: relative;
}

.single-input label {
  position: absolute;
  left: 0;
  margin-left: 0.3rem;
  bottom: 0.4rem;
  cursor: text;
  transition: 0.3s ease-in-out;
  color: var(--whiteF);
  font-size: 1.3rem;
  z-index: 1;
  pointer-events: none;
}

.single-input input {
  border: 0;
  padding: 0.6rem;
  width: 100%;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid var(--white);
  color: var(--whiteF);
  transition: 0.6s;
  z-index: 10;
}

div.single-input input:focus,
div.single-input input:valid {
  border-bottom: 2px inset var(--pink);
}

div.single-input input:focus ~ label,
div.single-input input:valid ~ label {
  transform: translateY(-1.6rem);
  font-size: 1rem;
  color: var(--pink);
}

.con-form textarea {
  width: 100%;
  margin: 1.2rem 0;
  position: relative;
  border: 0;
  outline: 0;
  padding: 0.6rem;
  background: transparent;
  border-bottom: 1px solid var(--white);
  transition: 0.6s;
  color: var(--white);
  font-size: 1.2rem;
  height: 2rem;
}

.con-form textarea::-moz-placeholder {
  color: var(--white);
}

.con-form textarea::placeholder {
  color: var(--white);
}

div textarea:focus {
  border-bottom: 2px inset var(--pink);
  height: 8rem;
}

@media screen and (max-width: 900px) {
  .contact p {
    max-width: 22rem;
  }
  .contact h2 {
    font-size: 2.2rem;
    text-align: center;
  }
  .form-row {
    flex-direction: column;
    justify-content: center;
  }
  .con-form {
    width: 84%;
  }
  .single-input {
    width: 100%;
    max-width: none;
    margin: 1.2rem 0;
    position: relative;
  }
}
@media screen and (max-width: 400px) {
  .contact {
    margin-top: 8rem;
  }
}
.footer-foot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-top: 1px inset var(--pink);
  padding: 0.6rem 0 0.6rem 0;
  background-color: var(--black);
}

.img-foot {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
}
.img-foot img {
  width: 6.4rem;
}

.icons-foot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  margin-right: 2rem;
}
.icons-foot i {
  font-size: 1.8rem;
  color: var(--pink);
  transition: 0.6s;
}
.icons-foot i:hover {
  transform: scale(1.08);
}

.bg-hero {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.253), var(--black));
}

.con-video-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: -4;
  background-attachment: fixed;
}

#video-hero {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.hero img {
  width: 26rem;
  height: 14.6rem;
  aspect-ratio: 16/9;
}
.hero div {
  margin-top: 1rem;
  padding: 1.2rem 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero i {
  color: var(--whiteF);
  margin-top: 4rem;
  font-size: 1.6rem;
}

.up-down {
  animation: UpDown 1s infinite alternate;
}

@keyframes UpDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-6px);
  }
}
@media screen and (max-width: 900px) {
  .hero img {
    width: 20rem;
    height: 8.6rem;
  }
}
.section-404 {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.section-404 h1 {
  color: var(--pink);
}
.section-404 p {
  color: var(--white);
}

.section-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  min-height: 100vh;
}

.about-container-image {
  display: flex;
  width: 26rem;
  height: 26rem;
  max-width: 30rem;
  max-height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid var(--pink);
}
.about-container-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 2rem;
  margin-left: 2rem;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.about-text h2 {
  color: var(--pink);
  text-align: left;
}
.about-text p {
  color: var(--white);
  text-align: left;
  max-width: 44rem;
  margin-bottom: 1rem;
}

.section-qualities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.qualities-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
  margin-bottom: 3rem;
}
.qualities-title h2 {
  color: var(--pink);
  text-align: left;
  max-width: 46rem;
}

.qualities-topics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2);
  gap: 1.6rem;
  row-gap: 4rem;
  width: 80%;
}

.qualities-topics-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.6rem;
}
.qualities-topics-item i {
  color: var(--pink);
  font-size: 2.4rem;
}
.qualities-topics-item h4 {
  color: var(--pink);
  text-align: left;
}
.qualities-topics-item p {
  color: var(--white);
  max-width: 26rem;
}

@media screen and (max-width: 900px) {
  .section-about {
    flex-direction: column;
    padding-top: 5rem;
  }
  .about-container-image {
    display: flex;
    width: 18rem;
    height: 18rem;
    max-width: 22rem;
    max-height: 22rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .about-container-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 2rem;
    margin-left: 2rem;
  }
  .about-text p {
    color: var(--white);
    text-align: left;
    max-width: 20rem;
    margin-bottom: 1rem;
  }
  .qualities-topics {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6);
    gap: 1.6rem;
    row-gap: 4rem;
    width: 80%;
  }
  .qualities-topics-item i {
    color: var(--pink);
    font-size: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .section-about {
    flex-direction: column;
    padding-top: 8rem;
    padding-bottom: 6rem;
  }
}
.btn-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: fixed;
  right: 6rem;
  top: 4rem;
  gap: 0.8rem;
  z-index: 98;
  transition: 0.3s ease-in;
  transition: transform 1s ease-in-out;
  min-width: 4rem;
}

.line-1, .line-2 {
  width: 2.4rem;
  transition: 0.3s;
  height: 2px;
  background-color: var(--pink);
}

.btn-menu:hover .line-1 {
  margin-right: 1rem;
}
.btn-menu:hover .line-2 {
  margin-left: 1rem;
}

.btn-close .line-1 {
  transform: rotate(-90deg);
  margin-right: 0.6rem;
}
.btn-close .line-2 {
  transform: rotate(90deg);
  margin-left: 0.6rem;
}

.con-side-menu-op {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  opacity: 100%;
  z-index: 97;
  justify-content: center;
  background-color: var(--blackOp);
  transition: 1s ease-in;
}

.side-menu {
  background-color: var(--black);
  border-left: 1px inset var(--pink);
  width: 26vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  z-index: 98;
}

.con-side-menu-op.show-side-menu {
  animation: openOp 1s;
  animation-fill-mode: forwards;
}

.show-side-menu .side-menu {
  animation: openMenu 0.6s;
  animation-fill-mode: forwards;
}

.con-side-menu-op.close-side-menu {
  animation: closeOp 1.4s;
  animation-fill-mode: forwards;
}

.close-side-menu .side-menu {
  animation: closeMenu 0.6s;
  animation-fill-mode: forwards;
}

.con-side-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4rem;
}

.menu-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.menu-header h5 {
  color: var(--pink);
}

.menu-line {
  width: 100%;
  height: 1px;
  display: block;
  background-color: var(--pink);
  margin-top: 1rem;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  min-width: 22.6rem;
}
.nav-list h1, .nav-list h1 a {
  cursor: pointer;
  color: var(--white);
  transition: 0.4s;
}
.nav-list h1:hover {
  color: var(--pink);
  margin-left: 0.6rem;
}
.nav-list h1 a:hover {
  color: var(--pink);
  margin-left: 0.6rem;
}

.menu-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 0.6rem;
}
.menu-contact h5 {
  color: var(--pink);
}
.menu-contact #language {
  margin-top: 2rem;
}

.menu-contact-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
.menu-contact-icons i {
  font-size: 2rem;
  color: var(--white);
  transition: 0.6s;
  margin-bottom: 1.2rem;
}
.menu-contact-icons i:hover {
  cursor: pointer;
  transform: scale(1.08);
}
.menu-contact-icons img {
  width: 2.5rem;
  height: 2.5rem;
}
.menu-contact-icons img:hover {
  cursor: pointer;
  transform: scale(1.08);
}

@keyframes openOp {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes openMenu {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes closeOp {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes closeMenu {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
@media screen and (max-width: 900px) {
  .btn-menu {
    right: 2rem;
  }
  .side-menu {
    width: 100%;
  }
  .header-nav i {
    font-size: 1.9rem;
  }
  .header-nav img {
    width: 2.4rem;
  }
  .nav-list {
    min-width: 16rem;
  }
}/*# sourceMappingURL=style.css.map */