@charset "UTF-8";
div#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--black);
  z-index: 99;
}
div#preloader img {
  width: 8rem;
}

.close-loading {
  display: none !important;
}

.load-9 {
  margin-bottom: 3rem;
}

.spinner {
  position: relative;
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
}

.bubble-1,
.bubble-2 {
  position: absolute;
  top: 0;
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 100%;
  background-image: linear-gradient(to right, var(--pink), var(--purple));
}

.bubble-2 {
  top: auto;
  bottom: 0;
}

.l-9 {
  animation-delay: 1.44s;
}

.load-9 .spinner {
  animation: loadingI 2s linear infinite;
}

.load-9 .bubble-1,
.load-9 .bubble-2 {
  animation: bounce 2s ease-in-out infinite;
}

.load-9 .bubble-2 {
  animation-delay: -1s;
}

@keyframes loadingI {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ v2.0-modified | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, button, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

:root {
  --swiper-theme-color: #dfdfdf !important;
  --whiteF: #ffffff;
  --white: #e0e0e0;
  --blackL: #333333;
  --black: #0e0e0e;
  --blackOp: #0e0e0eb4;
  --gray: #161616;
  --purple: #b108b1;
  --pinkL: #ef58a3;
  --pink: #de217e;
  transition: 0.3s;
}

@font-face {
  font-family: "coffee";
  src: url("../fonts/Louis George Cafe.woff");
}
@font-face {
  font-family: "coffee-light";
  src: url("../fonts/Louis George Cafe Light.woff");
}
h1, h2, h3, h4, h5 {
  font-family: "coffee";
  letter-spacing: 1px;
  margin-bottom: 0.6rem;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

li {
  font-family: "coffee";
  letter-spacing: 1px;
}

p {
  font-size: 1.06rem;
}

@media (max-width: 900px) {
  h1 {
    font-size: 3.1rem;
  }
  h2 {
    font-size: 2.6rem;
  }
  h3 {
    font-size: 2.1rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  h5 {
    font-size: 1.1;
  }
  h6 {
    font-size: 1rem;
  }
}
body::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--black); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, var(--pink), var(--purple)); /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "coffee-light";
  position: relative;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: var(--black);
  overflow-y: scroll;
}

button {
  font-family: "coffe", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--black);
  padding-top: 4rem;
  padding-bottom: 4rem;
  gap: 1.8rem;
}

.about-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
}
.about-img img {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  padding: 0.2rem;
  border: 2px inset var(--pink);
}

.about-info {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  flex-direction: column;
  width: 50%;
}
.about-info p {
  color: var(--whiteF);
  max-width: 36rem;
  line-height: 150%;
  text-align: left;
}

.gradient {
  /* Primeiro passo: definir um degradê como fundo */
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
  background-clip: text;
  -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */
  /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
  -webkit-text-fill-color: transparent;
  /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
  color: var(--pink);
}

@media screen and (max-width: 700px) {
  .about {
    flex-direction: column;
  }
  .about-img {
    justify-content: center;
    width: 90%;
  }
  .about-info {
    width: 90%;
  }
}
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--whiteF);
  background-color: var(--pink);
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-image: linear-gradient(to right, var(--pink), var(--purple));
}

.swiper {
  margin-top: 2rem;
  width: 86%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  width: 8rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.4s;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s;
}

.skill-name {
  position: absolute;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -0.2rem;
  background-image: linear-gradient(to right, var(--purple), var(--pink));
  padding: 0.4rem;
  transition: 0.4s;
}

.swiper-slide:hover .skill-name {
  display: flex;
  transition: 0.4s;
}

.line {
  width: 100%;
  height: 5px;
  margin-top: auto;
  bottom: 0;
  position: absolute;
  background-image: linear-gradient(to right, var(--purple), var(--pink));
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  padding-bottom: 2rem;
}
.portfolio h5 {
  color: var(--whiteF);
  text-align: center;
}
.portfolio p {
  color: var(--whiteF);
  text-align: center;
}

.portfolio-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
.portfolio-row img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.portfolio-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}
.portfolio-cont h4 {
  color: var(--whiteF);
  text-align: center;
}
.portfolio-cont p {
  color: var(--whiteF);
  text-align: center;
}
.portfolio-cont .cont-icons {
  margin-bottom: 1rem;
}

.portfolio-cont-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  height: 34rem;
  margin-top: 1rem;
}

.con-img-cont {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  height: 100%;
  overflow: hidden;
}
.con-img-cont .img-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  padding: 0.8rem;
  position: absolute;
  bottom: 0;
  background-color: var(--black);
  width: 100%;
  z-index: 4;
  opacity: 0;
  transition: 0.4s;
}
.con-img-cont a {
  width: 100%;
  height: 100%;
}
.con-img-cont img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.con-img-cont h5 {
  color: var(--pink);
  text-align: left;
  margin-left: 1rem;
}
.con-img-cont i {
  color: var(--pink);
  font-size: 1.7rem;
  margin-left: 1rem;
  transition: 0.4s;
}
.con-img-cont .links:hover {
  transform: scale(1.08);
}

.con-img-cont:hover .img-content {
  opacity: 1;
}
.con-img-cont:hover img {
  transform: scale(1.08);
}

@media screen and (max-width: 700px) {
  .portfolio-row {
    width: 90%;
  }
  .portfolio-cont-img {
    gap: 1.4rem;
    height: 50rem;
    flex-direction: column;
  }
  .con-img-cont {
    width: 90%;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  gap: 2rem;
  margin-top: 4rem;
  padding-bottom: 4rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.footer img {
  margin-left: auto;
  margin-right: auto;
  width: 6rem;
  margin-top: 4rem;
}
.footer p {
  margin-left: auto;
  margin-right: auto;
  color: var(--whiteF);
}

.footer-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 4rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}
.contact img {
  width: 8rem;
}

.contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.contact-info i {
  font-size: 1.7rem;
  color: var(--whiteF);
}
.contact-info #discord-icon {
  font-size: 1.5rem;
}
.contact-info em {
  font-size: 1.4rem;
  color: var(--whiteF);
  margin-left: 1rem;
}

.footer-up {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-top: 1rem;
  background-image: linear-gradient(to right, var(--pink), var(--purple));
}
.footer-up i {
  animation: Up 1s infinite alternate;
  color: var(--whiteF);
  font-size: 1.8rem;
}

@keyframes Up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(4px);
  }
}
@media screen and (max-width: 700px) {
  .footer-row {
    flex-direction: column;
  }
}
.header-nav {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  right: 2rem;
  top: 2rem;
  z-index: 4;
}
.header-nav i {
  margin-right: 1rem;
  font-size: 2.1rem;
  color: var(--white);
  transition: 0.4s;
}
.header-nav i:hover {
  color: var(--whiteF);
  transform: scale(1.08);
}
.header-nav img {
  width: 2.5rem;
  margin-right: 1rem;
}
.header-nav img:hover {
  transform: scale(1.08);
}

.con-video-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: -4;
  background-color: black;
  background-attachment: fixed;
}

#video-hero {
  filter: blur(6px);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
}

.bg-home {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(0, 128, 255, 0.027), var(--black));
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.hero img {
  width: 26rem;
}
.hero h5 {
  color: var(--whiteF);
  text-align: center;
}
.hero div {
  margin-top: 2rem;
  padding: 1.2rem 1.4rem;
}
.hero a {
  padding: 1.2rem 1.4rem;
  color: var(--whiteF);
  border: 1px inset var(--pink);
  background-color: var(--pink);
  letter-spacing: 1px;
  font-size: 1.1rem;
  transition: 0.4s;
}
.hero a:hover {
  color: var(--pink);
  background-color: transparent;
}
.hero i {
  color: var(--whiteF);
  margin-top: 4rem;
  font-size: 1.6rem;
}

.up-down {
  animation: UpDown 1s infinite alternate;
}

@keyframes UpDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-6px);
  }
}
@media screen and (max-width: 700px) {
  .hero img {
    width: 20rem;
  }
  .header-nav i {
    font-size: 2rem;
  }
  .header-nav img {
    width: 2.4rem;
  }
}/*# sourceMappingURL=style.css.map */