div#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--black);
    z-index: 99;
    transition: 0.8s ease-in-out;
  }

  .close-loading {
    transform: translateY(-120vh);
  }

  #main {
    transition: 0.8s ease-in-out;
  }

