.con-quem-sou {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--blackF);
    overflow: hidden;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.con-quem-sou img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    float: right;
    margin-right: 1rem;
    padding: 0.2rem;
    border: 2px inset var(--purple);
}

.left-quem-sou {
    width: 20%;
}

.right-quem-sou {
    width: 40%;
}

.right-quem-sou h1 {
    color: var(--purple);
}

.right-quem-sou p {
    line-height: 1.1rem;
    text-align: justify;
    color: var(--whiteF);
}

@media (max-width:900px) {
    .con-quem-sou {
        flex-direction: column;
    }

    .left-quem-sou {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
    }

    .right-quem-sou {
        width: 84%;
    }
}