
:root {

    --swiper-theme-color: #dfdfdf !important;

    --whiteF: #ffffff;
    --white: #e0e0e0;
    --blackL: #1f1f1f;
    --black: #161616;
    --blackOp: #0e0e0eb4;
    --gray: #161616;
    --purple: #b108b1;
    --pinkL: #ef58a3;
    --pink: #de217e;

    transition: 0.3s;
}
